.debugRed {
  background-color: #8c0615;
  border-width: 2px;
}

.debugBlue {
  background-color: #0c85d0;
  border-width: 2px;
}

.text-qatar-secondary-dark {
  color: #8D1B3D;
}

.text-qatar-secondary {
  color: #E50053;
}

@font-face {
  font-family: "qatar-2022-font";
  src: url("../assets/fonts/qatar-2022-font/Qatar2022-Medium.woff") format('woff');
}

@font-face {
  font-family: "qatar-2022-font";
  src: url("../assets/fonts/qatar-2022-font/Qatar2022-Bold.woff") format('woff');
  font-weight: bold;
}

.bg-my-stickers-img {
  background: repeat url("../assets/img/qatar-bg-1.png"), linear-gradient(87deg, #600606 0, #884a28 100%) fixed !important;
  background-size: 30%, auto !important;
  background-position-x: center !important;
  background-position-y: 50% !important;
  background-attachment: fixed !important;
}

.bg-football {
  background-image: url('../assets/img/orange-ball.png');
}
