.debugRed {
  background-color: #8c0615;
  border-width: 2px;
}

.debugBlue {
  background-color: #0c85d0;
  border-width: 2px;
}

@font-face {
  font-family: "qatar-2022-font";
  src: url("../assets/fonts/qatar-2022-font/Qatar2022-Medium.woff") format('woff');
}

@font-face {
  font-family: "qatar-2022-font";
  src: url("../assets/fonts/qatar-2022-font/Qatar2022-Bold.woff") format('woff');
  font-weight: bold;
}
